html{
  font-size: 0.5208vw;
  scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, p, ul, figure, dd, fieldset{
  margin: 0;
  padding: 0;
}

body{
  font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN',sans-serif;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-weight: 600;
  color: #19253A;
}

body::-webkit-scrollbar{
  display: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hansans{
  font-family: source-han-sans-japanese, sans-serif;
}

p{
  font-size: 1.4rem;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
