html{
  font-size: 0.5208vw;
  scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, p, ul, figure, dd, fieldset{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar{
  display: none;
}

a {
  text-decoration: none;
}

* {
  color: #202020;
  font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN',sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.hansans{
  font-family: source-han-sans-japanese, sans-serif;
}

.entry_button{
  font-size: 1.8rem;
  font-family: source-han-sans-japanese, sans-serif;
  display: inline-block;
  color: white;
  width: 36.2rem;
  position: relative;
  padding: 2rem 0;
  text-align: center;
  box-shadow: 0 .3rem .6rem rgba(0, 0, 0, 16%);
  border-radius: 10rem;
  background: linear-gradient(to left, #55E1FF, #2B519B);
}

.entry_button:hover{
  box-shadow: inset .3rem .3rem .6rem rgba(0, 0, 0, 30%);
}

.entry_button::before{
  position: absolute;
  content: '';
  top: 50%;
  right: 3rem;
  width: .7rem;
  height: .7rem;
  transform: translateY(-50%) rotateZ(-45deg);
  border-bottom: .3rem solid white;
  border-right: .3rem solid white;
}

.aboutLink:hover::before{
  border-right: .4rem solid #2B519B;
  border-bottom: .4rem solid #2B519B;
  transition: all .3s ease-in-out;
}

p{
  font-size: 1.8rem;
  font-weight: bold;
}
header{
  box-shadow: 0 .3rem .6rem rgba(0, 0, 0, 16%);
}

main{
  margin-top: 10rem;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
